version: "3.8"

services:
  db:
    image: mysql:5.7
    container_name: sqli-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: portal
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  web:
    build: ./web
    container_name: sqli-web
    depends_on:
      - db
    ports:
      - "8080:80"

