services:
  app:
    build: .
    ports:
      - "8001:80"
    depends_on:
      - db
  db:
    image: mariadb:lts
    environment:
      MYSQL_DATABASE: aan
      MYSQL_USER: aan
      MYSQL_PASSWORD: aan
      MYSQL_ROOT_PASSWORD: aan
    command: --default-authentication-plugin=caching_sha2_password
    volumes:
      - ./deploy/mysql_init:/docker-entrypoint-initdb.d/
    restart: unless-stopped
    networks:
      - default
